* {
    box-sizing: border-box;
}

body {
    background-image: url('../images/background.jpg') !important;
    background-size: 100%;
    font-family: 'Kaushan Script', cursive;
    color:black;
    max-width: 960px;
    margin-left: 16%;
}

.jumbotron {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    background-color: rgba(239, 247, 238, 0.349);
    font-weight: bolder; 
    color:black;
}

form {
    background-color: rgba(239, 247, 238, 0.349);
}

.card {
    background-color: rgba(239, 247, 238, 0.349);
    
}

.list-group-item{
    padding: 0;
}

.card-header {
    background-color: rgba(239, 247, 238, 0.5);
}

.btn-primary {
    background-color: rgba(239, 247, 238, 0.74);
    color:black;
}